/Maven__com_alibaba_fastjson_1_2_34.xml
/Maven__com_beust_jcommander_1_72.xml
/Maven__com_google_protobuf_protobuf_java_2_6_0.xml
/Maven__commons_codec_commons_codec_1_10.xml
/Maven__commons_collections_commons_collections_3_2_2.xml
/Maven__commons_logging_commons_logging_1_2.xml
/Maven__junit_junit_4_13_beta_3.xml
/Maven__mysql_mysql_connector_java_8_0_11.xml
/Maven__org_apache_activemq_activemq_all_5_15_9.xml
/Maven__org_apache_commons_commons_pool2_2_4_2.xml
/Maven__org_apache_httpcomponents_httpclient_4_5_9.xml
/Maven__org_apache_httpcomponents_httpcore_4_4_11.xml
/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/Maven__org_hamcrest_hamcrest_core_1_3.xml
/Maven__org_junit_jupiter_junit_jupiter_api_5_5_1.xml
/Maven__org_junit_platform_junit_platform_commons_1_5_1.xml
/Maven__org_opentest4j_opentest4j_1_2_0.xml
/Maven__org_projectlombok_lombok_1_18_4.xml
/Maven__org_springframework_spring_beans_5_1_6_RELEASE.xml
/Maven__org_springframework_spring_core_5_1_6_RELEASE.xml
/Maven__org_springframework_spring_jcl_5_1_6_RELEASE.xml
/Maven__org_testng_testng_7_0_0.xml
/Maven__redis_clients_jedis_2_9_0.xml
*.xml
